################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*bin*
*obj*
/Source/packages
/Source/.vs/HCMUS.LTUDQL2/v16
/.vs/OutSource-Sell-products/v16
/.vs/VSWorkspaceState.json
